# Check for nix-direnv
if [ -f "$HOME"/.nix-profile/share/nix-direnv/direnvrc ]; then

  # Load nix-direnv
  source "$HOME"/.nix-profile/share/nix-direnv/direnvrc
  use nix

  nix_direnv_watch_file check-all.nix
  nix_direnv_watch_file nix/config.nix
  nix_direnv_watch_file shell.nix

else

  # We couldn't find nix-direnv; Explain how to install it
  echo ".envrc: ERROR: First install nix-direnv by running 'nix-env -i nix-direnv' (or another method of your choosing)"
fi
